<div class="dashboard">
    <div class="dashboard-1">
        <span style="font-size:50px;font-weight:bold;line-height:1.5;">个人技术博客<br> 洞察未来，书写现在！<br></span>
        <br>
        <span style="font-size:20px;font-weight:270;">在这里，我将分享编程知识、<br>技术见解与生活感悟，与君共勉。<br></span>
        <div style="margin-top: 50px;">
            <style>
                .btn-container {
                    margin-top: 50px;
                    margin-bottom: 50px;
                }
                .btn-container .btn {
                    display: inline-block;
                    margin: 8px 3px;
                }
                .primary-button {
                    width: 220px;
                    height: 42px;
                    color: white;
                    border-radius: 6px;
                    transition: all 0.3s;
                    cursor: pointer;
                    background: #315cfd;
                    font-weight: 470;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 1.0em;
                }
                .primary-button:hover {
                    background: #3b82f6;
                    color: white;
                    font-size: 1.1em;
                }
                /**/
                .second-button {
                    width: 220px;
                    height: 42px;
                    color: #315cfd;
                    border-radius: 6px;
                    transition: all 0.3s;
                    cursor: pointer;
                    background: white;
                    font-weight: 470;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 1.0em;
                }
                .second-button:hover {
                    background: #eff6ff;
                    color: #315cfd;
                    font-size: 1.1em;
                }
            </style>
            <div class="btn-container">
                <div class="btn">
                    <button class="primary-button" onclick="skip('docs')">
                        <div style="display:flex;justify-content: center;align-items: center;gap:15px;">
                            <p>查看文档</p>
                            <svg style="" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg" class="PJLV"><path d="M6 11L11 6L6 1" stroke="currentColor"></path><path d="M11 6L1 6" stroke="currentColor"></path></svg>
                        </div>
                    </button>
                </div>
                <div class="btn">
                    <button class="second-button" onclick="skip('essay')">
                        <div style="display:flex;justify-content: center;align-items: center;gap:15px;">
                            <p>探索我的博客</p>
                            <svg width="11" height="10" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg" class="PJLV"><path d="M10 0.5H10.5V0H10V0.5ZM1.35355 9.85355L10.3536 0.853553L9.64645 0.146447L0.646447 9.14645L1.35355 9.85355ZM2 1H10V0H2V1ZM9.5 0.5V8.5H10.5V0.5H9.5Z" fill="currentColor"></path></svg>
                        </div>
                    </button>
                </div>
            </div>
            <script>
                function skip(path) {
                    window.location.href = "/" + path
                }
            </script>
        </div>
    </div>
     <div class="dashboard-2">
        <image src="/images/brand.png"></image>
    </div>
</div>

<style>
    @media screen and (min-width: 1300px) {
        .dashboard {
            padding: 0 20px;
            max-width: 1200px;
            margin: 0 auto;
        }
    }
    @media screen and (max-width: 1299px) {
        .dashboard {
            padding: 0 20px;
            max-width: 1100px;
            margin: 0 auto;
        }
    }
    .dashboard {
        display: grid; 
        grid-template-columns: 4fr 3fr;
    }
    @media screen and (max-width: 600px) {
        .dashboard {
            grid-template-columns: 1fr;
        }
        .dashboard-1 font {
            align: center;
        }
        .dashboard-2 {
            display: none;
        }
        .btn-container {
            margin-top: 10px;
            margin-bottom: 10px;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 2fr;
            place-items: center;
        }
    }
</style>
