<div class="footer-box">
    <div class=footer-container>
        <div class="footer-left-box">
            <div class="footer-left-container">
                <div>
                    <div style="width:48px">
                        <img src="/images/meebits_circle.png"  alt=""/>
                    </div>
                </div>
                <div class="footer-left-icon-container">
                    <div class="footer-left-icon">
                        <img src="/images/icon/github.png" alt=""/>
                        <div>Github</div>
                    </div>
                    <div class="footer-left-icon">
                        <img src="/images/icon/slack.png" alt=""/>
                        <div>Slack</div>
                    </div>
                    <div class="footer-left-icon">
                        <img src="/images/icon/medium.png" alt=""/>
                        <div>Medium</div>
                    </div>
                    <div class="footer-left-icon">
                        <img src="/images/icon/twitter.png" alt=""/>
                        <div>Twitter</div>
                    </div>
                    <div class="footer-left-icon">
                        <img src="/images/icon/linkedIn.png" alt=""/>
                        <div>LinkedIn</div>
                    </div>
                    <div class="footer-left-icon">
                        <img src="/images/icon/reddit.png" alt=""/>
                        <div>Reddit</div>
                    </div>
                </div>
                <div>
                    <h6 style="color:#9c9da7; font-size:12px; font-weight: 400;">© 2023 Hextra Project. </h6>
                    <a style="color:#9c9da7; font-size:12px; font-weight: 400; text-decoration:none;" href="https://github.com/imfing/hextra">由 Hextra 驱动</a>
                </div>
            </div>
        </div>
        <div class="footer-right-box">
            <div class="footer-right-title-div">
                <strong class="footer-right-title">文档</strong>
                <a href="https://rustwiki.org/docs/" target="_blank">Rust中文文档</a>
                <a href="https://react.dev/learn" target="_blank">React官网</a>
                <a href="https://k8s.easydoc.net/docs/dRiQjyTY/28366845/6GiNOzyZ/9EX8Cp45" target="_blank">Kubernetes快速入门</a>
            </div>
            <div class="footer-right-title-div">
                <strong class="footer-right-title">博客</strong>
                <a>微服务化</a>
                <a>模块化的道路</a>
            </div>
            <div class="footer-right-title-div">
                <strong class="footer-right-title">区块链</strong>
                <a>比特币</a>
                <a>以太坊</a>
                <a>超级账本</a>
            </div>
            <div class="footer-right-title-div">
                <strong class="footer-right-title">最新技术</strong>
                <a href="https://grpc.io/" target="_blank">gRPC</a>
                <a href="https://bun.sh/" target="_blank">Bun</a>
                <a href="https://www.solidjs.com/" target="_blank">Solid.js</a>
            </div>
            <div class="footer-right-title-div">
                <strong class="footer-right-title">面试</strong>
                <a>排序算法</a>
                <a>动态规划</a>
                <a>红黑树</a>
                <a>DDD 领域驱动设计模型</a>
                <a>设计模式</a>
                <a>设计原则</a>
                <a>TCP 三次握手与四次挥手</a>
                <a>HTTPS协议</a>
            </div>
            <div class="footer-right-title-div">
                <strong class="footer-right-title">友链</strong>
                <a href="https://hanbgcn.github.io/" target="_blank">Baoguo Han</a>
                <a href="https://honey-yogurt.github.io/" target="_blank">Zhiguo Yao</a>
            </div>
        </div>
    </div>
</div>
</div>
<style>
.footer-box {
    background: #1D243D;
    color: white;
}
.footer-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 70px 270px 110px 270px;
}
.footer-left-box {
    grid-column: 1 / span 3;
}
.footer-left-icon-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: start;
}
.footer-left-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.footer-left-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 370px;
}
.footer-left-icon img {
    margin: 8px 0;
    width: 32px;
}
.footer-left-icon div {
    color: #9c9da7;
}
.footer-right-box {
    grid-column: 4 / span 4;
    display: flex;
    justify-content: space-around;
}
.footer-right-title-div p {
    margin: 12px 0;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    font-style: normal;
}
.footer-right-title-div a {
    margin: 12px 0;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    color: #fafaf9;
    display: block;
}
.footer-right-title-div a:hover {
    text-decoration: underline;
    color: #3b82f6;
}
.footer-right-title {
    font-family: 'Inter',serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #9c9da7;
}
@media screen and (max-width: 1500px) {
    .footer-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 70px 120px 110px 120px;
    }
    .footer-left-box {
        grid-column: 1;
    }
    .footer-right-box {
        grid-column: 2;
    }
}
@media screen and (max-width: 1300px) {
    .footer-container {
        display: grid;
        grid-template-columns: 1fr;
        padding: 70px 120px 110px 120px;
    }
    .footer-left-box {
        display: none;
    }
    .footer-right-box {
        grid-column: 1;
    }
}
@media screen and (max-width: 800px) {
    .footer-container {
        padding: 70px 30px 110px 30px;
    }
}
@media screen and (max-width: 425px) {
    .footer-right-box {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
    }
}
@media screen and (max-width: 375px) {
    .footer-right-box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }
}
</style>