{{ define "main" }}
  {{- $newFeature := (T "newFeature") | default "New" -}} {{/* i18n for strings */}}
  {{- $nextPage := (T "nextPage") | default "Next" -}}
  {{- $previousPage := (T "previousPage") | default "Previous" -}}

  {{ $tagColors := slice
    (dict "bg" "#bfdbfe" "text" "#1d4ed8")
    (dict "bg" "#a7f3d0" "text" "#047857")
    (dict "bg" "#fed7aa" "text" "#c2410c")
    (dict "bg" "#fecaca" "text" "#b91c1c")
    (dict "bg" "#fcd34d" "text" "#b45309")
  }}

  <div class="mx-auto flex {{ partial `utils/page-width` . }}">
    {{ partial "sidebar.html" (dict "context" . "disableSidebar" true "displayPlaceholder" true) }}
    <article class="w-full break-words flex min-h-[calc(100vh-var(--navbar-height))] min-w-0 justify-center pb-8 pr-[calc(env(safe-area-inset-right)-1.5rem)]">
      <main class="w-full min-w-0 max-w-6xl px-6 pt-4 md:px-12">
        <br class="mt-1.5 text-sm" />
        <h1 class="text-center mt-2 text-4xl font-bold tracking-tight text-slate-900 dark:text-slate-100">
          {{ .Title }}
        </h1>
        <div class="content text-center">
          {{ .Content }}
        </div>
        {{ $paginator := .Paginate (where .Data.Pages "Type" "essay") }}
        {{ range $paginator.Pages.GroupByDate "January, 2006" }}
        <h3 style="text-decoration: none;"
        class="block font-semibold flex items-center gap-1 mt-8 text-2xl text-gray-900 dark:text-gray-300">
          🗓️
          <span>&nbsp;</span>{{ .Key }}
        </h3>
          {{ range .Pages }}
            <div class="mb-6 ml-4 pl-5">
              <style>
                .title {
                  font-weight: 500;
                  text-decoration: none;
                  color: #2563eb;
                }
                .title:hover {
                  color: #3b82f6;
                  font-weight: bold;
                }
              </style>
              <h4 class="flex">
                {{ with .Params.categories }}
                {{ $firstCategory := index (first 1 .) 0 }}
                  <span class="inline-flex items-center px-1 text-xs text-white mr-2" 
                                      style="background: linear-gradient(90deg, #A51050 0%, #CB1C42 50.48%, #F57461 100%); border-radius:3px;">
                    {{ $firstCategory }}
                  </span>
                {{ end }}
                <p style="font-weight: 500; color: #1c2530">
                  {{ .Title }}
                    {{ if in .Params.categories "new" }} {{/* Show a label "new" if category is set to "new"*/}}
                    <span class="ml-4 not-prose inline-flex items-center gap-2 px-1 py-0 text-xs text-white" style="background: linear-gradient(90deg, #A51050 0%, #CB1C42 50.48%, #F57461 100%);border-radius:3px;">
                      {{- $newFeature -}}
                    </span>
                  {{- end -}}
                </p>
                <a class="title inline-block font-normal font-medium ml-4"
                   href="{{ .RelPermalink }}">
                  Read more
                </a>
              </h4>

              <!-- 开始展示tag -->
              <div style="margin:6px 0 2px 0;">
                {{- if site.Params.blog.list.displayTags -}}
                  {{ with .Params.tags }}
                    <span class="opacity-75 text-sm">
                      {{ $colorIndex := 0 }}
                      {{- range $tag := . }}
                        {{ $color := index $tagColors $colorIndex }}
                        <div class="diytag text-xs inline-flex items-center font-bold leading-sm px-2 py-0"
                             style="--bg: {{ $color.bg }}; --text: {{ $color.text }};
                             text-transform:lowercase; background-color: var(--bg); color: var(--text); border-radius: 10px; margin-right: 3px;">
                          {{ $tag }}
                        </div>
                        {{ $colorIndex = add $colorIndex 1 }}
                        {{ if ge $colorIndex (len $tagColors) }}
                          {{ $colorIndex = 0 }}
                        {{ end }}
                      {{ end -}}
                    </span>
                  {{ end -}}
                {{- end -}}
              </div>
              <!-- 结束展示tag -->
              <a
              href="{{ .RelPermalink }}"
              class="opacity-50 text-xs text-gray-800 dark:text-gray-300 no-underline">{{/* Show date */}}
              Created on {{ .Date | time.Format "2006-01-02 15:04" }}
              </a>
            </div>
          {{ end }}
        {{ end }}
        {{/* pagination system */}}
        <div class="mb-8 mt-8 flex items-center pt-2  print:hidden {{ if gt $paginator.TotalPages 1 }} border-t dark:border-neutral-800 contrast-more:border-neutral-400 dark:contrast-more:border-neutral-400 {{ end }} "> {{/* Hides pagnination separator if no pages */}}
          {{ if $paginator.HasPrev }}

              <a
              href="{{ $paginator.Prev.URL }}"
              class="flex max-w-[50%] items-center gap-1 py-4 text-base font-medium text-gray-600 transition-colors [word-break:break-word] hover:text-primary-600 dark:text-gray-300 md:text-lg ltr:pr-4 rtl:pl-4">
                {{- partial "utils/icon.html" (dict "name" "chevron-right" "attributes" "class=\"inline h-5 shrink-0 ltr:rotate-180\"") -}}
                {{- $previousPage -}}
              </a>

          {{ end }}
          {{ if $paginator.HasNext }}

              <a
              href="{{ $paginator.Next.URL }}"
              class="flex max-w-[50%] items-center gap-1 py-4 text-base font-medium text-gray-600 transition-colors [word-break:break-word] hover:text-primary-600 dark:text-gray-300 md:text-lg ltr:ml-auto ltr:pl-4 ltr:text-right rtl:mr-auto rtl:pr-4 rtl:text-left">
                {{- $nextPage -}}
                {{- partial "utils/icon.html" (dict "name" "chevron-right" "attributes" "class=\"inline h-5 shrink-0\"") -}}
              </a>
          {{ end }}
        </div>
      </main>
    </article>
    <div class="max-xl:hidden h-0 w-64 shrink-0"></div>
  </div>
{{ end }}
