{{ define "main" }}
  {{- $newFeature := (T "newFeature") | default "New" -}} {{/* i18n for strings */}}
  {{- $nextPage := (T "nextPage") | default "Next" -}}
  {{- $previousPage := (T "previousPage") | default "Previous" -}}
  <div class="mx-auto flex {{ partial `utils/page-width` . }}">
    {{ partial "sidebar.html" (dict "context" . "disableSidebar" true "displayPlaceholder" true) }}
    <article class="w-full break-words flex min-h-[calc(100vh-var(--navbar-height))] min-w-0 justify-center pb-8 pr-[calc(env(safe-area-inset-right)-1.5rem)]">
      <main class="w-full min-w-0 max-w-6xl px-6 pt-4 md:px-12">
        <br class="mt-1.5 text-sm" />
        <h1 class="text-center mt-2 text-4xl font-bold tracking-tight text-slate-900 dark:text-slate-100">
          {{ .Title }}
        </h1>
        <div class="content text-center">
          {{ .Content }}
        </div>
        {{ $paginator := .Paginate (where .Data.Pages "Type" "essay") }}
        {{ range $paginator.Pages.GroupByDate "January, 2006" }}
        <h3 style="text-decoration: none;"
        class="block font-semibold flex items-center gap-1 mt-8 text-2xl text-gray-900 dark:text-gray-300">
          <!--<span class="inline-block align-text-bottom icon">
            {{- partial "utils/icon.html" (dict "name" "calendar" "attributes" "height=24") -}}
          </span>-->
          🗓️
          <span>&nbsp;</span>{{ .Key }}
        </h3>
          {{ range .Pages }}
            <div class="mb-6 ml-4 pl-5">
              <style>
                .title {
                  text-decoration: underline;
                  text-decoration-thickness: 1px;
                  text-decoration-color: #a5b4fc;
                  background: linear-gradient(90deg, #2563eb, #60a5fa);
                  background-clip: text;
                  color: transparent;
                }
                .title:hover {
                  color: #3b82f6;
                  font-weight: bold;
                }
                .title:hover::after {
                  content: "📚";
                }
              </style>
              <h4 class="flex">
                <p style="font-weight: 500; color: #1c2530">
                  {{ .Title }}
                    {{ if in .Params.categories "new" }} {{/* Show a label "new" if category is set to "new"*/}}
                    <span class="ml-4 not-prose inline-flex items-center gap-2 px-1 py-0 text-xs text-white" style="background: linear-gradient(90deg, #A51050 0%, #CB1C42 50.48%, #F57461 100%);border-radius:3px;">
                      {{- $newFeature -}}
                    </span>
                  {{- end -}}
                </p>
                <a class="title inline-block font-normal font-medium ml-4"
                   href="{{ .RelPermalink }}">
                  <!--<span class="inline-block align-text-bottom icon"></span>-->
                  Read more →
                </a>
              </h4>

              <!-- 展示.Content -->
              <!--<div style="color: #9ca3af; font-size: medium; margin-top: 5px; margin-bottom: 10px;">{{ .Content | truncate 100 }}</div>-->

              <!-- 开始展示tag -->
              <div style="margin:6px 0 2px 0;">
                {{- if site.Params.blog.list.displayTags -}} {{/* Show tags */}}
                {{ with .Params.tags }}
                  <span class="opacity-75 text-sm">
                    {{ $last_index := 0}}
                    {{ $index := index (seq 5 | shuffle) 0 }}
                    {{- range $tag :=  . }}
                      <!-- 生成随机数 -->
                      {{ if (eq $last_index $index) }}
                        {{ $index = index (seq 5 | shuffle) 0 }}
                      {{end}}
                      {{ if (eq $last_index $index) }}
                        {{ $index = index (seq 5 | shuffle) 0 }}
                      {{end}}
                      {{ if (eq $last_index $index) }}
                        {{ $index = index (seq 5 | shuffle) 0 }}
                      {{end}}
                      {{ if (eq $last_index $index) }}
                        {{ $index = index (seq 5 | shuffle) 0 }}
                      {{end}}
                      {{ if (eq $last_index $index) }}
                        {{ $index = index (seq 5 | shuffle) 0 }}
                      {{end}}
                      {{ $last_index = $index}}
                      <!-- 第一个tag -->
                      {{ with (eq $index 1) }}
                        <div class="diytag text-xs inline-flex items-center font-bold leading-sm px-2 py-0"
                            style="text-transform:lowercase; background-color: #bfdbfe; color: #1d4ed8; border-radius: 10px; margin-right: 3px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bookmark mr-1"><path d="M19 21l-7-5-7 5V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2z"></path></svg>
                          {{ $tag }}
                        </div>
                      {{ end }}
                      <!-- 第二个tag -->
                      {{ with (eq $index 2) }}
                        <div class="diytag text-xs inline-flex items-center font-bold leading-sm px-2 py-0"
                            style="text-transform:lowercase; background-color: #a7f3d0; color: #047857; border-radius: 10px; margin-right: 3px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-flag mr-1"><path d="M4 15s1-1 4-1 5 2 8 2 4-1 4-1V3s-1 1-4 1-5-2-8-2-4 1-4 1z"></path><line x1="4" y1="22" x2="4" y2="15"></line></svg>
                          {{ $tag }}
                        </div>                      
                      {{ end }}
                      <!-- 第三个tag -->
                      {{ with (eq $index 3) }}
                        <div class="diytag text-xs inline-flex items-center font-bold leading-sm px-2 py-0"
                            style="text-transform:lowercase; background-color: #fed7aa; color: #c2410c; border-radius: 10px; margin-right: 3px;">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="feather feather-activity mr-1"
                          >
                            <polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline>
                          </svg>
                          {{ $tag }}
                        </div>
                      {{ end }}
                      <!-- 第四个tag -->
                      {{ with (eq $index 4) }}
                        <div class="diytag text-xs inline-flex items-center font-bold leading-sm px-2 py-0"
                            style="text-transform:lowercase; background-color: #fecaca; color: #b91c1c; border-radius: 10px; margin-right: 3px;">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="feather feather-archive mr-1"
                          >
                            <polyline points="21 8 21 21 3 21 3 8"></polyline>
                            <rect x="1" y="3" width="22" height="5"></rect>
                            <line x1="10" y1="12" x2="14" y2="12"></line>
                          </svg>
                          {{ $tag }}
                        </div>
                      {{ end }}
                      <!-- 第五个tag -->
                      {{ with (eq $index 5) }}
                        <div class="diytag text-xs inline-flex items-center font-bold leading-sm px-2 py-0"
                            style="text-transform:lowercase; background-color: #fcd34d; color: #b45309; border-radius: 10px; margin-right: 3px;">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="feather feather-hard-drive mr-1"
                          >
                            <line x1="22" y1="12" x2="2" y2="12"></line>
                            <path
                              d="M5.45 5.11L2 12v6a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-6l-3.45-6.89A2 2 0 0 0 16.76 4H7.24a2 2 0 0 0-1.79 1.11z"
                            ></path>
                            <line x1="6" y1="16" x2="6.01" y2="16"></line>
                            <line x1="10" y1="16" x2="10.01" y2="16"></line>
                          </svg>
                          {{ $tag }}
                        </div>
                      {{ end }}
                    {{ end -}}
                  </span>
                {{ end -}}
              {{- end -}}
              </div>
              <!-- 结束展示tag -->
              <a
              href="{{ .RelPermalink }}"
              class="opacity-50 text-xs text-gray-800 dark:text-gray-300 no-underline">{{/* Show date */}}
              Created on {{ .Date | time.Format "2006-01-02 15:04" }}
              </a>
            </div>
          {{ end }}
        {{ end }}
        {{/* pagination system */}}
        <div class="mb-8 mt-8 flex items-center pt-2  print:hidden {{ if gt $paginator.TotalPages 1 }} border-t dark:border-neutral-800 contrast-more:border-neutral-400 dark:contrast-more:border-neutral-400 {{ end }} "> {{/* Hides pagnination separator if no pages */}}
          {{ if $paginator.HasPrev }}

              <a
              href="{{ $paginator.Prev.URL }}"
              class="flex max-w-[50%] items-center gap-1 py-4 text-base font-medium text-gray-600 transition-colors [word-break:break-word] hover:text-primary-600 dark:text-gray-300 md:text-lg ltr:pr-4 rtl:pl-4">
                {{- partial "utils/icon.html" (dict "name" "chevron-right" "attributes" "class=\"inline h-5 shrink-0 ltr:rotate-180\"") -}}
                {{- $previousPage -}}
              </a>

          {{ end }}
          {{ if $paginator.HasNext }}

              <a
              href="{{ $paginator.Next.URL }}"
              class="flex max-w-[50%] items-center gap-1 py-4 text-base font-medium text-gray-600 transition-colors [word-break:break-word] hover:text-primary-600 dark:text-gray-300 md:text-lg ltr:ml-auto ltr:pl-4 ltr:text-right rtl:mr-auto rtl:pr-4 rtl:text-left">
                {{- $nextPage -}}
                {{- partial "utils/icon.html" (dict "name" "chevron-right" "attributes" "class=\"inline h-5 shrink-0\"") -}}
              </a>
          {{ end }}
        </div>
      </main>
    </article>
    <div class="max-xl:hidden h-0 w-64 shrink-0"></div>
  </div>
{{ end }}
