{{- $color := .Get "color" | default "pink" -}}
{{ $map := dict "pink" "#fbe2e3" "blue" "#dbd7fb" }}

{{ if eq $color "blue" }}
    <div style="width: 100%; height: 100%; background-color: #dbd7fb; border-radius: 9999px;filter: blur(8rem);">
    </div>
{{ else if eq $color "pink" }}
    <div style="width: 100%; height: 100%; background-color: #fbe2e3; border-radius: 9999px;filter: blur(8rem);">
    </div>
{{ else }}
    <div style="width: 100%; height: 100%; background-color: #fbe2e3; border-radius: 9999px;filter: blur(8rem);">
    </div>
{{ end }}