{{- $names := split (.Get "names") "," -}}
{{- $attributes := .Get "attributes" | default "height=1em"}}
{{- $scroll := .Get "scroll" | default "false" -}}
{{- $style := .Get "style" | default "--time:10s" -}}

{{ printf "<div class=\"scroll-container-%s\">" $scroll | safeHTML }}

    {{ $times := 1}}
    {{ if eq $scroll "true" }}
        {{ with $times }}{{ $times = 2 }}{{ end }}
        {{ printf "<div icons style=\"display: flex; margin-top: 25px; margin-bottom: 10px; %s\">" $style | safeHTML }}
    {{ else }}
        <div style="display: flex; margin-top: 25px; margin-bottom: 10px;">
    {{ end }}
    
        {{ range seq $times}}
            <div>
                {{ range $v := $names }}
                    {{- $icon := index site.Data.icons $v -}}
                    {{- $icon = replaceRE "<svg " (printf "<svg icon %s" $attributes) $icon -}}
                    {{- if not $icon -}}
                        {{ errorf "icon %q not found" $v }}
                    {{- end -}}
                    <span icon class="inline-block align-text-bottom icon">
                        {{- $icon | safeHTML -}}
                    </span>
                {{ end }}
            </div>
        {{ end }}
    </div>
    
</div>

<style>
    svg[icon] {
        width: 40px;
        height: 40px;
    }
    span[icon] {
        box-shadow: 2px 5px 10px #e5e7eb;
        border-radius: 20%;
        margin: 10px 10px 10px 10px;
        padding: 10px 10px 10px 10px;
    }
    .scroll-container-true {
        width: 100%;
        overflow: hidden; /* 隐藏溢出内容 */
        mask-image: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);
    }
    div[icons] div {
        white-space: nowrap; /* 让图标水平排列 */
        animation: scrollIcons var(--time) linear infinite; /* 设置动画 */
        animation-delay: calc(var(--time)*-1);
    }
    @keyframes scrollIcons {
        0% {
          transform: translateX(100%);
        }
        100% {
          transform: translateX(-100%); /* 水平滚动 */
        }
    }
    div[icons] div:nth-child(2) {
        white-space: nowrap; /* 让图标水平排列 */
        animation: scrollIcons2 var(--time) linear infinite; /* 设置动画 */
        animation-delay: calc(var(--time)/-2);
    }
    @keyframes scrollIcons2 {
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(-200%); /* 水平滚动 */
        }
    }
    svg[icon]:hover {
        width: 50px;
        height: 50px;
    }
    span[icon]:hover {
        box-shadow: 2px 5px 10px #d1d5db;
        padding: 12px 12px 12px 12px;
    }
    span[icon]:hover::after {
        background-color: darkgoldenrod;
        padding: 1px 4px 1px 4px;
        position: absolute;
        border-radius: 4px;
        color: white;
    }
}
</style>